.recommend {
  position: relative;
  padding-top: 0;
  padding-bottom: 90px;
}

.recommend-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.recommend-header {
  position: relative;
}
.recommend-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.recommend-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.recommend-main {
  position: relative;
  padding: 25px 0;
}
.recommend-category {
  position: relative;
  display: flex;
  /* 가운데 */
  justify-content: center;
}

.recommend-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
.recommend-list li {
  position: relative;
}

.recommend-cate-bt {
  position: relative;
  display: block;

  padding: 0px 20px;
  line-height: 42px;

  border: 1px solid #e5e5e5;
  border-radius: 44px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  color: #111;
  font-weight: 400;
}
.recommend-cate-bt-active {
  background-color: #333 !important;
  color: #fff !important;
  font-weight: 700 !important;
  border: 1px solid transparent !important;
}

.recommend-slide-wrap {
  position: relative;
  height: 425px;
  margin-top: 23px;
}
/* 곽민성 코딩 컨벤션 */
.recommend-slide-item {
  position: relative;
  height: 425px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  background: transparent;
}
.recommend-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.recommend-img {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
  /* background-color: blue; */
}
.recommend-img img {
  /* position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translateX(-50%), translateY(-50%); */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommend-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.03); /* 어두운 배경색 및 투명도 조절 */
}

.recommend-info {
  position: relative;
  height: calc(100% - 310px);
  padding: 22px 20px;
}

.recommend-good-list {
  position: relative;
}
.recommend-good-list li {
  position: relative;
  margin-bottom: 10px;
}
.recommend-good-info-price {
  position: relative;
  font-size: 1.8rem;
  color: #111;
  font-weight: 400;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommend-good-info-price b {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #ef3e43;
}
.recommend-good-info-price em {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

.recommend-good-info-desc {
  position: relative;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
  /* 2줄이상 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recommend-footer {
  text-align: center;
}

.recommend-footer a {
  display: inline-block;
  width: auto;
  height: 5.6rem;
  line-height: 5.6rem;
  padding: 0 3.9rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3.8rem;
  color: #333;
  font-weight: 700;
}

.recommend-footer a::after {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 1.1rem;
  margin-left: 0.7rem;
  background: url("../images/linkArrow.svg") no-repeat;
}
